#include "plank.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 024 GPIO_ACTIVE_HIGH>
        , <&pro_micro 100 GPIO_ACTIVE_HIGH>
        , <&pro_micro 011 GPIO_ACTIVE_HIGH>
        , <&pro_micro 104 GPIO_ACTIVE_HIGH>
        , <&pro_micro 031 GPIO_ACTIVE_HIGH>
        , <&pro_micro 029 GPIO_ACTIVE_HIGH>
        , <&pro_micro 002 GPIO_ACTIVE_HIGH>
        ;
};